@model GameLibrary.Models.PublisherModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name Details</h1>
<table class="table">
    <tbody>
    @if (Model.BoardGames.Count() > 0)
    {
        foreach (var item in Model.BoardGames)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td class="align-middle">
                    <img class="rounded-circle" src="@item.ImageURL" alt="@item.Name"
                    style = "max-width: 150px">
                </td>
            </tr>
        }
    }
    else
    {
        <h4>No Board Games for this publisher</h4>
    }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
